html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(225deg, #008fe2 0, #00b29c 100%);
}
@font-face{
    font-family: digital-7;
    src: url(/Assets/fonts/digital-7\ \(italic\).ttf);
}
.conteudo{
    width: 50%;
    height: 50%;
    color: white;
    margin: 0 auto;
}
.conteudosecundario{
    width: 50%;
    height: 50%;
    color: white;
}
.conteudotres{
    width: 50%;
    height: 50%;
    color: white;
}
#relogio{
    font-family: digital-7;
    font-size: 60px;
    width: 100%;
}
#data{
    font-family: digital-7;
    font-size: 20px;
    width: 100%;
}
.reloj{
    font-family: digital-7;
    font-size: 48px;
    width: 100%;
}
.anuncio{
    height: 68%;
    margin-top: 2% !important;
    margin:auto;
    background-color: #00b29c !important;
}